@model BTH20_02.Models.Employee
<h1>Create Table Employee</h1>
<hr>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmployeeID" class="control-label"></label>
                <input asp-for="EmployeeID" class="form-control">
                <span asp-validation-for="EmployeeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeName" class="control-label"></label>
                <input asp-for="EmployeeName" class="form-control">
                <span asp-validation-for="EmployeeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeAddress" class="control-label"></label>
                <input asp-for="EmployeeAddress" class="form-control">
                <span asp-validation-for="EmployeeAddress" class="text-danger"></span>
            </div>
              
            <br>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Save">
                <a class="btn btn-success" asp-action="Index">List Student</a>
            </div>


        </form>
    </div>


</div>