@model BTH20_02.Models.Person
<h1>Create Table Person</h1>
<hr>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PersonID" class="control-label"></label>
                <input asp-for="PersonID" class="form-control">
                <span asp-validation-for="PersonID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonName" class="control-label"></label>
                <input asp-for="PersonName" class="form-control">
                <span asp-validation-for="PersonName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonAge" class="control-label"></label>
                <input asp-for="PersonAge" class="form-control">
                <span asp-validation-for="PersonAge"> </span>
            </div>
            <div class="form-group">
                <label asp-for="PersonAddress" class="control-label"></label>
                <input asp-for="PersonAddress" class="form-control">
                <span asp-validation-for="PersonAddress" class="text-danger"></span>
            </div>
              
              
            <br>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Save">
                <a class="btn btn-success" asp-action="Index">List Customer</a>
            </div>


        </form>
    </div>


</div>