<form asp-action="Create">
<label > Student code</label> <br>
<input  class="w3-input" type="text" name="Student Code"><br>
<label > Fullname </label> <br>
<input  class="w3-input" type ="text" name="FullName" ><br>
<label > Address</label> <br>
<input class="w3-input"  type="text" name="Address"><br>
<input type="submit"  value="Ok ">
</form>
<h2> @ViewBag.mess</h2>